{% extends "products/base.html" %}
{% block content %}
<div class="container mt-4">

    <h6>Select Shipping Method</h6>

<label>
    <input type="radio" name="shipping_method" value="pickup" checked>
    Pickup (Free)
</label><br>

<label>
    <input type="radio" name="shipping_method" value="standard">
    Standard Delivery (TZS 5,000)
</label><br>

<label>
    <input type="radio" name="shipping_method" value="express">
    Express Delivery (TZS 10,000)
</label>

    <h2>Checkout</h2>

    <form method="post">
        {% csrf_token %}
        <input class="form-control mb-2" name="name" placeholder="Full Name" required>
        <input class="form-control mb-2" name="phone" placeholder="Phone" required>
        <textarea class="form-control mb-2" name="address" placeholder="Address" required></textarea>
        <button class="btn btn-success">Place Order</button>
    </form>
</div>
{% endblock %}
